[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = JuanJo1974
	email = 74205271+JuanJo1974@users.noreply.github.com
